
* {
    margin: 0 !important;
    vertical-align: baseline;
    page-break-before: initial !important;
    -webkit-user-select: text;
}

html {
    -webkit-text-size-adjust: none; /* Never autoresize text */
    height:100%;
    width:100%;
    -webkit-column-gap:0;
}

body {
    padding: 0px 20px;
    word-break: break-word !important;
    -webkit-hyphens: auto !important;
    hyphens: auto !important;
}

p, span, div ,ul ,li ,a,ol,textarea,input,dl,dd,dt{
    line-height:1.7em !important;
    font-size: 1em !important;
}
img, svg, audio, video {
    max-height: 95% !important;
    max-width: 100% !important;
    box-sizing: border-box;
    object-fit: contain;
    page-break-inside: avoid;
}
img { -webkit-user-select: none; }

a {
    text-decoration:none;
    outline:0 none;
    -webkit-touch-callout: none;
    pointer-events:none;
    cursor:default；
}

h1 {
    font-size: 2em !important;
}
h2 {
    font-size: 1.5em !important;
}
h3 {
    font-size: 1.17em !important;
}
h4 {
    font-size: 1em !important;
}
h5 {
    font-size: 0.83em !important;
}
h6 {
    font-size: 0.67em !important;
}


